body {
    background-image: url("./cork-board/cork-board.png");
}

main {
    background-color: firebrick;
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
    padding-bottom: 20px;
    border: dashed whitesmoke;
}

#highscores, #indexPage {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#timer {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 50px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: yellow;
    cursor: default;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
}

p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#startbutton {
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 25px;
    padding: 10px 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    color: white;
}

.center {
    text-align: center;
}

.hsDiv {
    margin-top: 100px;
    background-color: firebrick;
    margin-left: 200px;
    margin-right: 200px;
    border: dashed whitesmoke;

}

#loserScreen {
    text-align: center;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

li {
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: white;
    list-style: decimal;
    list-style-position: inside;
}

.highscoresCenter {
    /* margin-left: 100px;
    margin-right: 100px; */
    /* padding-left: -50px;
    padding-right: -50px; */
    text-align: center;
    color: black;
    padding-bottom: 15px;
}

.highscoreButtons {
    display: block;
    margin: 0 auto;
} 

#commentEl {
    text-align: center;
    background-color: darkcyan;
    color: antiquewhite;
    margin-left: 200px;
    margin-right: 200px;
}

#highscoreList {
    text-align: center;
    color: white !important;
    cursor: default !important;
}

#startOverButton {
    display: block;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color:yellow;
}